code {
  padding: 0;
  font-size: 90%;
  color: black;
  background-color: white;
  border: 0px solid white;
}

a code {
  color: #08c;
}

/* make the column a bit wider (780px rather than 700px) */
.container-narrow {
  max-width: 780px;
}
